/* =====================================================
TABLES
===================================================== */

.table-wrapper{

    overflow:auto;

    border-radius:26px;

    background:
    rgba(255,255,255,0.03);

    border:
    1px solid rgba(255,255,255,0.06);

}

table{
width:100%;
border-collapse:collapse;
}

table th{

    padding:22px;

    text-align:left;

    background:
    rgba(255,255,255,0.04);

    color:rgba(255,255,255,0.62);

    font-size:13px;

    letter-spacing:1px;

}

table td{

    padding:22px;

    border-top:
    1px solid rgba(255,255,255,0.05);

}

table tr:hover{

    background:
    rgba(255,255,255,0.02);

}